@import url('https://fonts.googleapis.com/css?family=Karla|Vollkorn+SC');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  background-image: url("../img/savanna.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 80px;
  font-family: 'Vollkorn SC', serif;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-family: 'Karla', sans-serif;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #bcb39c;
  width: 100%;
  color: #395134;
  font-size: 20px;
  font-family: courier;
  background-image: linear-gradient(to bottom, #e2d7ba, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #e2d7ba);
  padding: 10px;
}

.card-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: courier;
  font-size: 12px;
  padding: 10px;
}

.card-bottom {
  width: 97%;
  border: 1px solid #7c7c7c;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #afafaf, #cccccc, #cccccc, #cccccc, #cccccc, #afafaf);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 1px 10px 40px black;
  &:hover {

  }
}

#add-animal-button {
  padding: 5px;
}

#edit-animal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #cec1ad, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #cec1ad);
  font-family: courier;
  color: #395134;
}

.edit-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  #edit-title {
    margin-bottom: 5px;
  }
  .input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

.edit-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px;
}

.edit-bottom-left, .edit-bottom-right {
  display: flex;
  flex-direction: column;
  .input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

#new-animal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #cec1ad, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #cec1ad);
  font-family: courier;
  color: #395134;
}

.new-animal-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .form-left, .form-right {
    display: flex;
    flex-direction: column;
  }
}
