@import url("https://fonts.googleapis.com/css?family=Dosis|Karla|Vollkorn+SC");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: grey;
  background-image: url("../img/savanna.jpg");
  background-size: cover;
  background-position: center; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

h1 {
  font-size: 80px;
  font-family: 'Dosis', sans-serif;
  text-shadow: 1px 1px 50px grey;
  color: #395134; }

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-family: 'Karla', sans-serif; }

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #bcb39c;
  width: 100%;
  color: #395134;
  font-size: 20px;
  font-family: courier;
  background-image: linear-gradient(to bottom, #e2d7ba, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #e2d7ba);
  padding: 10px; }

.card-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: courier;
  font-size: 12px;
  padding: 10px; }

.card-bottom {
  width: 97%;
  border: 1px solid #7a2121;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #601a1a, #912727, #912727, #912727, #912727, #601a1a);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: helvetica;
  color: #efe4c6;
  padding: 3px;
  box-shadow: 1px 10px 40px black; }
  .card-bottom:hover {
    color: white;
    cursor: pointer; }

#add-animal-button {
  padding: 15px;
  background-color: #395134;
  color: #efe4c6;
  border: none;
  font-family: courier;
  margin-bottom: 10px; }
  #add-animal-button:hover {
    cursor: pointer;
    background-color: #912727; }

#edit-animal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

.edit-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #cec1ad, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #cec1ad);
  font-family: courier;
  color: #395134; }

.close-button {
  font-size: 14px; }
  .close-button:hover {
    color: #912727;
    cursor: pointer; }

.edit-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .edit-top #edit-title {
    margin-bottom: 5px; }
  .edit-top .input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; }

.edit-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px; }

.edit-bottom-left, .edit-bottom-right, .form-left, .form-right {
  display: flex;
  flex-direction: column; }
  .edit-bottom-left .input-field, .edit-bottom-right .input-field, .form-left .input-field, .form-right .input-field {
    width: 100%;
    display: flex;
    justify-content: space-between; }

#new-animal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

.new-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #cec1ad, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #efe4c6, #cec1ad);
  font-family: courier;
  color: #395134; }
  .new-animal #new-title {
    margin-bottom: 10px; }
  .new-animal .name-field {
    display: flex;
    margin-bottom: 5px; }
  .new-animal button {
    padding: 8px;
    background-color: #395134;
    color: #efe4c6;
    font-family: courier;
    border: none;
    margin-bottom: 5px; }
    .new-animal button:hover {
      background-color: #912727;
      cursor: pointer; }

.new-animal-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px; }
  .new-animal-form .form-left, .new-animal-form .form-right {
    display: flex;
    flex-direction: column; }

.red-text {
  color: #912727; }

.select {
  display: flex;
  justify-content: center;
  align-items: center; }

select {
  background-color: #912727;
  font-family: courier;
  color: #efe4c6; }
  select:hover {
    background-color: #395134; }

/*# sourceMappingURL=master.css.map */
