<select (change)="onChange($event.target.value)">
  <option value="YoungAnimals">Young Animals</option>
  <option value="MatureAnimals">Mature Animals</option>
  <option value="YoungestToOldest">Youngest to Oldest</option>
  <option value="OldestToYoungest">Oldest to Youngest</option>
  <option value="CaretakersToMost">Least amount of caretakers</option>
  <option value="CaretakersToLeast">Most amount of caretakers</option>
  <option value="ViewAll" selected="selected">View All</option>
</select>
<div class="card" *ngFor="let currentAnimal of childAnimalList | agepipe:filterByAge">
  <div class="card-top">
    <div class="card-title">
      <p>{{currentAnimal.name}}</p>
    </div>
    <div class="card-body">
      <div class="body-left">
        <p>Species: {{currentAnimal.species}}</p>
        <p>Age: {{currentAnimal.age}}</p>
        <p>Diet: {{currentAnimal.diet}}</p>
        <p>Location: {{currentAnimal.location}}</p>
      </div>
      <div class="body-right">
        <p># of Caretakers: {{currentAnimal.caretakers}}</p>
        <p>Sex: {{currentAnimal.sex}}</p>
        <p>Likes: {{currentAnimal.likes}}</p>
        <p>Dislikes: {{currentAnimal.dislikes}}</p>
      </div>
    </div>
  </div>
  <div class="card-bottom" (click)="editButtonHasBeenClicked(currentAnimal)">
    <p>Edit</p> 
  </div>
</div>
