<select (change)="onChange($event.target.value)">
  <option value="YoungAnimals">Young Animals</option>
  <option value="MatureAnimals">Mature Animals</option>
  <option value="YoungestToOldest">Youngest to Oldest</option>
  <option value="ViewAll" selected="selected">View All</option>
</select>
<div class="card" *ngFor="let currentAnimal of childAnimalList | agepipe:filterByAge">
  <p>{{currentAnimal.species}}</p>
  <p>{{currentAnimal.name}}</p>
  <p>{{currentAnimal.age}}</p>
  <p>{{currentAnimal.diet}}</p>
  <p>{{currentAnimal.location}}</p>
  <p>{{currentAnimal.caretakers}}</p>
  <p>{{currentAnimal.sex}}</p>
  <p>{{currentAnimal.likes}}</p>
  <p>{{currentAnimal.dislikes}}</p>
  <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit</button>
</div>
