<div class="container">
  <h1>Zoo</h1>
  <animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></animal-list>
  <button id="add-animal-button" (click)="addNewAnimalForm(animalToEdit)">Add New Animal</button>
  <edit-animal [childSelectedAnimal]="selectedAnimal" (closeButtonClickedSender)="nullEdit()"></edit-animal>
  <new-animal [childShowAnimalForm]="showAnimalForm" (newAnimalSender)="addAnimal($event)" (exitNewAnimalFormClickedSender)="nullAnimalForm()"></new-animal>
</div>
