<div *ngIf="childShowAnimalForm" id="new-animal">
  <div class="new-animal">
    <p id="new-title">New Animal</p>
    <div class="name-field">
      <p>Name:</p>
      <input type="text" #newName placeholder="Name">
    </div>
    <div class="new-animal-form">
      <div class="form-left">
        <div class="input-field">
          <p>Species:</p>
          <input type="text" #newSpecies placeholder="Species">
        </div>
        <div class="input-field">
          <p>Age:</p>
          <input type="number" #newAge placeholder="Age">
        </div>
        <div class="input-field">
          <p>Diet:</p>
          <input type="text" #newDiet placeholder="Diet">
        </div>
        <div class="input-field">
          <p>Location:</p>
          <input type="text" #newLocation placeholder="Location">
        </div>
      </div>
      <div class="form-right">
        <div class="input-field">
          <p>Caretakers:</p>
          <input type="number" #newCaretakers placeholder="Caretakers">
        </div>
        <div class="input-field">
          <p>Sex:</p>
          <input type="text" #newSex placeholder="Sex">
        </div>
        <div class="input-field">
          <p>Likes:</p>
          <input type="text" #newLikes placeholder="Likes">
        </div>
        <div class="input-field">
          <p>Dislikes:</p>
          <input type="text" #newDislikes placeholder="Dislikes">
        </div>
      </div>
    </div>
    <button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value)" (click)="exitNewAnimalFormClicked()">Submit New Animal</button>
    <p (click)="exitNewAnimalFormClicked()" class="close-button">Close</p>
  </div>
</div>
