<div *ngIf="childShowAnimalForm">
  <p>New Animal</p>
    <input type="text" #newSpecies placeholder="Species">
    <input type="text" #newName placeholder="Name">
    <input type="number" #newAge placeholder="Age">
    <input type="text" #newDiet placeholder="Diet">
    <input type="text" #newLocation placeholder="Location">
    <input type="number" #newCaretakers placeholder="Caretakers">
    <input type="text" #newSex placeholder="Sex">
    <input type="text" #newLikes placeholder="Likes">
    <input type="text" #newDislikes placeholder="Dislikes">
    <button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value)" (click)="exitNewAnimalFormClicked()">Submit New Animal</button>
    <button (click)="exitNewAnimalFormClicked()">Exit</button>
</div>
